{% extends "base.html" %}
{% load filter_by_user %}


{% block content %}
{{ recipe_list_per_user }}
<main class="recipe-grid">
    {% for user in user_list %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <li>{{ user.username }}</li>
          {% for item in library %}
          <h2>
            <a href="{% url 'recipe_detail' item.pk %}">{{ item|filter_by_user:user|default_if_none:"" }}</a>
          </h2>
        {% endfor %}
        </h2>
      </div>
    {% endfor %}
    </main>
{% endblock content %}
