{% extends "base.html" %}
{% load markdownify %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' meal_plan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' meal_plan.id %}">Delete</a>
    </div>
    <h1>{{ meal_plan.name }}</h1>
    <h2>by: {{ meal_plan.owner | default_if_none:"Unknown" }}</h2>
    <p>
      Created on {{ meal_plan.date }}
    </p>
    <p>Tags: {% for tag in recipe.tags.all %}{{ tag.word }} {% endfor %}</p>
    <h2>Recipes</h2>
    {% for recipe in meal_plan.recipes.all %}
    <li>
    <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </li>
    {% endfor %}
  </main>
{% endblock content %}
